In [3]:

# 각 코스별, 숙제별로 숙제를 가장 빨리 제출한 학생의 아이디와 제출한 시간을 출력하시오
# 각 코스별, 숙제별로 학생들이 숙제를 제출한 회수를 출력하시오
# 각 코스별, 숙제별, 학생별로 처음 만점이 될 때까지의 제출 횟수를 출력하시오, 단 만점이 아닌 경우에는 출력하지 않습니다.

In [5]:
import pandas as pd
import numpy as np
import pymysql

In [6]:
db = pymysql.connect(host = 'codeborn-bi-db.cvv1o1yrngie.ap-northeast-2.rds.amazonaws.com',
                       port = 3306,
                       user = 'weezing',
                       password = '5yYX72QNiemc',
                       db = 'codeborn')
cursor = db.cursor()

In [7]:
df_courses = pd.read_sql_query('SELECT * FROM courses',db)
df_professors = pd.read_sql_query('SELECT * FROM professors',db)
df_problems = pd.read_sql_query('SELECT * FROM problems',db)
df_tags = pd.read_sql_query('SELECT * FROM tags',db)
df_problem_detail = pd.read_sql_query('SELECT * FROM problem_detail',db)
df_assignments = pd.read_sql_query('SELECT * FROM assignments',db)
df_submissions = pd.read_sql_query('SELECT * FROM submissions',db)
df_students = pd.read_sql_query('SELECT * FROM students',db)
df_submission_problem_detail = pd.read_sql_query('SELECT * FROM submission_problem_detail',db)
df_submission_detail = pd.read_sql_query('SELECT * FROM submission_detail',db)
df_student_course_relation = pd.read_sql_query('SELECT * FROM student_course_relation',db)

C:\Users\hwang\AppData\Local\Temp\ipykernel_9712\51494210.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_courses = pd.read_sql_query('SELECT * FROM courses',db)
C:\Users\hwang\AppData\Local\Temp\ipykernel_9712\51494210.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_professors = pd.read_sql_query('SELECT * FROM professors',db)
C:\Users\hwang\AppData\Local\Temp\ipykernel_9712\51494210.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_problems = pd.read_sql_query('SELECT * FROM problems',db)
C:\Users\hwang\AppData\Local\Temp\ipykernel_9712\51494210.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_tags = pd.read_sql_query('SELECT * FROM tags',db)
C:\Users\hwang\AppData\Local\Temp\ipykernel_9712\51494210.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_problem_detail = pd.read_sql_query('SELECT * FROM problem_detail',db)
C:\Users\hwang\AppData\Local\Temp\ipykernel_9712\51494210.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_assignments = pd.read_sql_query('SELECT * FROM assignments',db)
C:\Users\hwang\AppData\Local\Temp\ipykernel_9712\51494210.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_submissions = pd.read_sql_query('SELECT * FROM submissions',db)
C:\Users\hwang\AppData\Local\Temp\ipykernel_9712\51494210.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_students = pd.read_sql_query('SELECT * FROM students',db)
C:\Users\hwang\AppData\Local\Temp\ipykernel_9712\51494210.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_submission_problem_detail = pd.read_sql_query('SELECT * FROM submission_problem_detail',db)
C:\Users\hwang\AppData\Local\Temp\ipykernel_9712\51494210.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_submission_detail = pd.read_sql_query('SELECT * FROM submission_detail',db)
C:\Users\hwang\AppData\Local\Temp\ipykernel_9712\51494210.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_student_course_relation = pd.read_sql_query('SELECT * FROM student_course_relation',db)

In [10]:
# 각 코스별로 제출 학생의 숫자와 숙제 평균 맞는 개수를 출력하시오

In [100]:
df_a = pd.DataFrame(df_student_course_relation.to_dict(), columns = ['course_id','student_id','teaching_assistant'])
df_aa = df_a.where(df_a.teaching_assistant == 0)
df_aa.drop(labels='teaching_assistant', axis=1, inplace=False)
df_aa

df_b = pd.DataFrame(df_assignments.to_dict(), columns = ['course_id','assignment_id','started_date','ended_date'])

df_INNER_JOIN = pd.merge(df_aa, df_b,left_on = 'course_id', right_on = 'course_id', how ='inner').drop(columns='teaching_assistant')
df_INNER_JOIN

df_c = pd.DataFrame(df_submissions.to_dict(), columns = ['student_id','submission_id','submit_date','assignment_id'])

df_INNER_JOIN2 = pd.merge(df_c, df_INNER_JOIN, on =['assignment_id','student_id'], how ='inner')
df_INNER_JOIN2
#df_INNER_JOIN2.drop_duplicates(['student_id'])
df_INNER_JOIN2.groupby('course_id')['student_id','submission_id'].nunique()

C:\Users\hwang\AppData\Local\Temp\ipykernel_9712\712260685.py:16: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_INNER_JOIN2.groupby('course_id')['student_id','submission_id'].nunique()

           student_id  submission_id
course_id
123456              1              1
DSAA-2021          39           2855
DSAA-2022          31           3349
PY-2022S           94          14027

In [76]:
#df_INNER_JOIN2['submit_date'] = pd.to_datetime(df_INNER_JOIN2['submit_date'])
#df_INNER_JOIN2['started_date'] = pd.to_datetime(df_INNER_JOIN2['started_date'])
#df_INNER_JOIN2['ended_date'] = pd.to_datetime(df_INNER_JOIN2['ended_date'])

#df_Final = df_INNER_JOIN2.where(df_INNER_JOIN2.submit_date > df_INNER_JOIN2.started_date) & df_INNER_JOIN2.where(df_INNER_JOIN2.submit_date < df_INNER_JOIN2.ended_date)
#df_Final

# 제출 조건 미적용, 중복제거

In [101]:
# 각 코스별, 숙제별 숙제를 가장 빨리 제출한 학생의 아이디와 제출한 시간

In [ ]:
WITH test AS (SELECT submissions.assignment_id,
       submissions.student_id,
       MIN(submit_date),
       ROW_NUMBER() over (PARTITION BY assignment_id ORDER BY MIN(submit_date)) AS "rn"
FROM submissions
INNER JOIN assignments a
    on submissions.assignment_id = a.assignment_id
WHERE submissions.assignment_id <> 1
    AND submissions.student_id <> 11
    AND submissions.student_id <> 1
    AND a.started_date <= submissions.submit_date
    AND a.ended_date >= submissions.submit_date
GROUP BY assignment_id, student_id
ORDER BY assignment_id, MIN(submit_date))

SELECT *
FROM test
WHERE rn = 1

In [147]:
df_1 = pd.DataFrame(df_submissions.to_dict(), columns = ['assignment_id','student_id','submit_date'])

df_11 = df_1.where(df_1.assignment_id != 1).where(df_1.student_id != 11).where(df_1.student_id != 1)

df_2 = pd.DataFrame(df_assignments.to_dict(), columns = ['assignment_id', 'course_id', 'started_date', 'ended_date'])
df_JOIN = pd.merge(df_11, df_2,left_on = 'assignment_id', right_on = 'assignment_id', how ='inner')
#df_JOIN['submit_date'].min()


df_JOIN.groupby('assignment_id')['submit_date'].min()
#df_JOIN.groupby('assignment_id','student_id')['submit_date'].min()

assignment_id
2.0    2021-09-18 16:56:20
3.0    2021-09-18 14:30:01
6.0    2021-09-23 10:35:09
8.0    2021-09-23 16:06:08
10.0   2021-09-26 21:35:40
11.0   2021-09-27 03:01:48
13.0   2021-09-28 10:22:41
14.0   2021-10-07 10:06:31
16.0   2021-10-31 19:17:00
18.0   2021-11-16 10:15:11
21.0   2022-04-08 20:01:05
22.0   2022-04-08 20:01:30
23.0   2022-04-06 11:11:21
24.0   2022-04-06 09:55:13
25.0   2022-04-06 09:54:52
26.0   2022-04-08 17:32:19
27.0   2022-04-08 19:56:55
28.0   2022-04-08 20:01:15
29.0   2022-04-08 20:44:27
30.0   2022-04-27 11:31:46
33.0   2022-05-04 11:03:22
34.0   2022-05-29 17:27:49
35.0   2022-09-16 09:51:19
36.0   2022-09-16 09:50:32
37.0   2022-09-16 13:04:01
38.0   2022-09-20 16:57:08
39.0   2022-10-05 15:19:33
40.0   2022-10-12 13:48:40
41.0   2022-12-06 19:31:49
Name: submit_date, dtype: datetime64[ns]

In [ ]:
# row number, min 하는법