In [12]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\hwang\miniconda3\envs\esports\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hwang\miniconda3\envs\esports\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hwang\miniconda3\envs\esports\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hwang\miniconda3\envs\esports\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hwang\miniconda3\envs\esports\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in c:\users\hwang\miniconda3\envs\esports\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [13]:
import pandas as pd

## dict to series

In [14]:
dict_data = {'a':1,'b':2,'c':3}
sr = pd.Series(dict_data)
print(type(sr))
print("\n")

<class 'pandas.core.series.Series'>

In [15]:
print(sr)

a    1
b    2
c    3
dtype: int64

# Series index

In [16]:
list_data = ["2019-01-02",3.14,'ABC',100,True]
sr = pd.Series(list_data)
print(sr)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

# series element

In [17]:
tup_data = ("준원","2002-05-13","남",True)
sr = pd.Series(tup_data,index = ["이름","생년월일","성별","학생여부"])
print(sr)

이름              준원
생년월일    2002-05-13
성별               남
학생여부          True
dtype: object

In [18]:
#원소를 1개 선택
print(sr[0])
print(sr['이름'])

준원
준원

In [19]:
#여러개의 원소선택(인덱스 리스트 사용)
print(sr[[0,2]])
print("\n")
print(sr[['생년월일','성별']])

이름    준원
성별     남
dtype: object


생년월일    2002-05-13
성별               남
dtype: object

In [20]:
#여러개의 원소선택(인덱스 범위지정)
print(sr[1 : 2])
#정수형 위치 인덱스 사용시 범위의 끝(2)이 포함되지 않는
print("\n")
print(sr['생년월일':'학생여부'])

생년월일    2002-05-13
dtype: object


생년월일    2002-05-13
성별               남
학생여부          True
dtype: object

# dict to dataframe

In [21]:
dict_data = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}
df=pd.DataFrame(dict_data)
print(type(df))
print("\n")

<class 'pandas.core.frame.DataFrame'>

In [22]:
print(df)

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

# change df idx col

In [23]:
df = pd.DataFrame([[19,'남','사대부고'],[19,'여',"사대부고"]],
                  index = ['준원','윤영'],
                  columns=['나이','성별','학교'])

print(df)
print('\n')
print(df.index)
print('\n')
print(df.columns)

    나이 성별    학교
준원  19  남  사대부고
윤영  19  여  사대부고


Index(['준원', '윤영'], dtype='object')


Index(['나이', '성별', '학교'], dtype='object')

In [24]:
#행 인덱스, 열 이름 변경하기
df.index=['학생1','학생2']
df.columns = ['연령','남녀','소속']

print(df)
print("\n")
print(df.index)
print("\n")
print(df.columns)

     연령 남녀    소속
학생1  19  남  사대부고
학생2  19  여  사대부고


Index(['학생1', '학생2'], dtype='object')


Index(['연령', '남녀', '소속'], dtype='object')

In [25]:
df.rename(columns={'연령' : 'age','남녀' : 'sex','소속' : 'group'}, inplace=True)
df.rename(index={'준원' : 'std1','윤영' : 'std2'}, inplace=True) 
#True는 원본 데이터를 수정, False는 새로운 데이터로 생성

print(df)

     age sex group
학생1   19   남  사대부고
학생2   19   여  사대부고

In [26]:
exam_data = {'수학' : [90,80,70], '영어' : [98,89,95], 
             '음악' : [85,95,100], '체육' : [100,90,90]}
df = pd.DataFrame(exam_data, index = ['준원','준서','전어'])
print(df)

    수학  영어   음악   체육
준원  90  98   85  100
준서  80  89   95   90
전어  70  95  100   90

In [27]:
df2 = df[:]
df2.drop('준서',inplace=True)
print(df2)
print()

    수학  영어   음악   체육
준원  90  98   85  100
전어  70  95  100   90

C:\Users\hwang\AppData\Local\Temp\ipykernel_11560\3920591656.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('준서',inplace=True)

In [28]:
df3 = df[:]
df3.drop(['준서','전어'],axis=0, inplace=True)
print(df3)

    수학  영어  음악   체육
준원  90  98  85  100

C:\Users\hwang\AppData\Local\Temp\ipykernel_11560\725846507.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(['준서','전어'],axis=0, inplace=True)

# remove row

In [29]:
exam_data = {'수학' : [90,80,70], '영어' : [98,89,95], 
             '음악' : [85,95,100], '체육' : [100,90,90]}

df = pd.DataFrame(exam_data, index = ['준원','준서','전어'])
print(df)
print()


df2 = df[:]
df2.drop('준서',inplace=True)
print(df2)
print()


df3 = df[:]
df3.drop(['준서','전어'],axis=0, inplace=True)
print(df3)

    수학  영어   음악   체육
준원  90  98   85  100
준서  80  89   95   90
전어  70  95  100   90

    수학  영어   음악   체육
준원  90  98   85  100
전어  70  95  100   90

    수학  영어  음악   체육
준원  90  98  85  100

C:\Users\hwang\AppData\Local\Temp\ipykernel_11560\315462544.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('준서',inplace=True)
C:\Users\hwang\AppData\Local\Temp\ipykernel_11560\315462544.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(['준서','전어'],axis=0, inplace=True)

# remove column

In [30]:
exam_data = {'수학' : [90,80,70], '영어' : [98,89,95], 
             '음악' : [85,95,100], '체육' : [100,90,90]}

df = pd.DataFrame(exam_data, index = ['준원','준서','전어'])
print(df)
print()


df4 = df[:]
df4.drop('수학',axis=1,inplace=True)
print(df4)
print()


df5 = df[:]
df5.drop(['영어','음악'],axis=1,inplace=True) #0일때는 행 삭제, 1일때는 열 삭제
print(df5)

    수학  영어   음악   체육
준원  90  98   85  100
준서  80  89   95   90
전어  70  95  100   90

    영어   음악   체육
준원  98   85  100
준서  89   95   90
전어  95  100   90

    수학   체육
준원  90  100
준서  80   90
전어  70   90

C:\Users\hwang\AppData\Local\Temp\ipykernel_11560\2146406440.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.drop('수학',axis=1,inplace=True)
C:\Users\hwang\AppData\Local\Temp\ipykernel_11560\2146406440.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5.drop(['영어','음악'],axis=1,inplace=True) #0일때는 행 삭제, 1일때는 열 삭제

# select row

In [31]:
exam_data = {'수학' : [90,80,70], '영어' : [98,89,95], 
             '음악' : [85,95,100], '체육' : [100,90,90]}

df = pd.DataFrame(exam_data, index = ['준원','준서','전어'])
print(df)
print()

    수학  영어   음악   체육
준원  90  98   85  100
준서  80  89   95   90
전어  70  95  100   90

In [32]:
label1 = df.loc['준원']
position1 = df.iloc[0]
print(label1)
print()
print(position1)

수학     90
영어     98
음악     85
체육    100
Name: 준원, dtype: int64

수학     90
영어     98
음악     85
체육    100
Name: 준원, dtype: int64

In [33]:
label2 = df.loc[['준서','전어']]
position2 = df.iloc[[1,2]]
print(label2)
print()
print(position2) # 결과는 같음

    수학  영어   음악  체육
준서  80  89   95  90
전어  70  95  100  90

    수학  영어   음악  체육
준서  80  89   95  90
전어  70  95  100  90

In [34]:
label3 = df.loc["준원":'준서']
position3 = df.iloc[0:1]
print(label3)
print()
print(position3)

    수학  영어  음악   체육
준원  90  98  85  100
준서  80  89  95   90

    수학  영어  음악   체육
준원  90  98  85  100

# select column

In [35]:
exam_data = {'name' : ['seo','woo','lna'],
             'math' : [90,80,70], 
             'eng' : [98,89,95], 
             'music' : [85,95,100], 
             'pe' : [100,90,90]}
df = pd.DataFrame(exam_data)
print(df)
print(type(df))
print()

  name  math  eng  music   pe
0  seo    90   98     85  100
1  woo    80   89     95   90
2  lna    70   95    100   90
<class 'pandas.core.frame.DataFrame'>

In [36]:
math1 = df['math']
print(math1)
print(type(math1))
print()

0    90
1    80
2    70
Name: math, dtype: int64
<class 'pandas.core.series.Series'>

In [37]:
english = df.eng
print(english)
print(type(english))

0    98
1    89
2    95
Name: eng, dtype: int64
<class 'pandas.core.series.Series'>

In [38]:
music_gym = df[['music','pe']]
print(music_gym)
print()

   music   pe
0     85  100
1     95   90
2    100   90

In [39]:
math2 = df[['math']]
print(math2)
print(type(math2)) # 데이터 프레임 형태

   math
0    90
1    80
2    70
<class 'pandas.core.frame.DataFrame'>

# select element

In [76]:
exam_data = {'name' : ['seo','woo','lna'],
             'math' : [90,80,70], 
             'eng' : [98,89,95], 
             'music' : [85,95,100], 
             'pe' : [100,90,90]}
df = pd.DataFrame(exam_data)
print(df)

df.set_index('name',inplace=True)
print(df)

  name  math  eng  music   pe
0  seo    90   98     85  100
1  woo    80   89     95   90
2  lna    70   95    100   90
      math  eng  music   pe
name
seo     90   98     85  100
woo     80   89     95   90
lna     70   95    100   90

In [41]:
a = df.loc['seo','music']
print(a)
b=df.iloc[0,2]
print(b)

85
85

In [42]:
c=df.loc['seo',['music','pe']]
print(c)
d=df.iloc[0,[2,3]]
print(d)
e=df.loc['seo','music':'pe']
print(e)
f=df.iloc[0,2:]
print(f)

music     85
pe       100
Name: seo, dtype: int64
music     85
pe       100
Name: seo, dtype: int64
music     85
pe       100
Name: seo, dtype: int64
music     85
pe       100
Name: seo, dtype: int64

In [43]:
g=df.loc[['seo','woo'],['music','pe']]
print(g)
h=df.iloc[[0,2],[2,3]]
print(h)
i=df.loc['seo':'woo','music':'pe']
print(i)
j=df.iloc[0:2,2:]
print(j)

      music   pe
name
seo      85  100
woo      95   90
      music   pe
name
seo      85  100
lna     100   90
      music   pe
name
seo      85  100
woo      95   90
      music   pe
name
seo      85  100
woo      95   90

# add column

In [44]:
exam_data = {'name' : ['seo','woo','lna'],
             'math' : [90,80,70], 
             'eng' : [98,89,95], 
             'music' : [85,95,100], 
             'pe' : [100,90,90]}
df = pd.DataFrame(exam_data)
print(df)
print()

  name  math  eng  music   pe
0  seo    90   98     85  100
1  woo    80   89     95   90
2  lna    70   95    100   90

In [45]:
df['korean']=80
print(df)

  name  math  eng  music   pe  korean
0  seo    90   98     85  100      80
1  woo    80   89     95   90      80
2  lna    70   95    100   90      80

# add row

In [46]:
exam_data = {'name' : ['seo','woo','lna'],
             'math' : [90,80,70], 
             'eng' : [98,89,95], 
             'music' : [85,95,100], 
             'pe' : [100,90,90]}
df = pd.DataFrame(exam_data)
print(df)
print()

  name  math  eng  music   pe
0  seo    90   98     85  100
1  woo    80   89     95   90
2  lna    70   95    100   90

In [47]:
df.loc[3] = 0
print(df)
print()

  name  math  eng  music   pe
0  seo    90   98     85  100
1  woo    80   89     95   90
2  lna    70   95    100   90
3    0     0    0      0    0

In [48]:
df.loc[4]=["dong",90,80,70,60]
print(df)
print()

   name  math  eng  music   pe
0   seo    90   98     85  100
1   woo    80   89     95   90
2   lna    70   95    100   90
3     0     0    0      0    0
4  dong    90   80     70   60

In [49]:
df.loc['row'] = df.loc[3]
print(df)

     name  math  eng  music   pe
0     seo    90   98     85  100
1     woo    80   89     95   90
2     lna    70   95    100   90
3       0     0    0      0    0
4    dong    90   80     70   60
row     0     0    0      0    0

# modify dataframe element

In [50]:
exam_data = {'name' : ['seo','woo','lna'],
             'math' : [90,80,70], 
             'eng' : [98,89,95], 
             'music' : [85,95,100], 
             'pe' : [100,90,90]}
df = pd.DataFrame(exam_data)

In [51]:
df.set_index('name',inplace=True)
print(df)
print()

      math  eng  music   pe
name
seo     90   98     85  100
woo     80   89     95   90
lna     70   95    100   90

In [52]:
df.iloc[0][3] = 80
print(df)

      math  eng  music  pe
name
seo     90   98     85  80
woo     80   89     95  90
lna     70   95    100  90

In [53]:
df.loc['seo']['pe']= 90
print(df)

      math  eng  music  pe
name
seo     90   98     85  90
woo     80   89     95  90
lna     70   95    100  90

In [54]:
df.loc['seo','pe'] = 100
print(df)

      math  eng  music   pe
name
seo     90   98     85  100
woo     80   89     95   90
lna     70   95    100   90

In [55]:
df.loc['seo',['music','pe']] = 50
print(df)

      math  eng  music  pe
name
seo     90   98     50  50
woo     80   89     95  90
lna     70   95    100  90

In [56]:
df.loc['seo',['music','pe']] = 100,50
print(df)

      math  eng  music  pe
name
seo     90   98    100  50
woo     80   89     95  90
lna     70   95    100  90

# transpose

In [57]:
exam_data = {'name' : ['seo','woo','lna'],
             'math' : [90,80,70], 
             'eng' : [98,89,95], 
             'music' : [85,95,100], 
             'pe' : [100,90,90]}
df = pd.DataFrame(exam_data)
print(df)
print()

  name  math  eng  music   pe
0  seo    90   98     85  100
1  woo    80   89     95   90
2  lna    70   95    100   90

In [58]:
df = df.transpose()
print(df)
print()

         0    1    2
name   seo  woo  lna
math    90   80   70
eng     98   89   95
music   85   95  100
pe     100   90   90

In [59]:
df = df.T
print(df)

  name math eng music   pe
0  seo   90  98    85  100
1  woo   80  89    95   90
2  lna   70  95   100   90

# set index

In [60]:
exam_data = {'name' : ['seo','woo','lna'],
             'math' : [90,80,70], 
             'eng' : [98,89,95], 
             'music' : [85,95,100], 
             'pe' : [100,90,90]}
df = pd.DataFrame(exam_data)
print(df)
print()

  name  math  eng  music   pe
0  seo    90   98     85  100
1  woo    80   89     95   90
2  lna    70   95    100   90

In [61]:
ndf = df.set_index(['name'])
print(ndf)
print()
ndf2 = ndf.set_index('music')
print(ndf2)
print()
ndf3 = ndf.set_index(['math','music'])
print(ndf3)

      math  eng  music   pe
name
seo     90   98     85  100
woo     80   89     95   90
lna     70   95    100   90

       math  eng   pe
music
85       90   98  100
95       80   89   90
100      70   95   90

            eng   pe
math music
90   85      98  100
80   95      89   90
70   100     95   90

# reindex

In [62]:
dict_data = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}
df = pd.DataFrame(dict_data, index=['r0','r1','r2'])
print(df)
print()

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [63]:
new_index = ['r0','r1','r2','r3','r4']
ndf = df.reindex(new_index)
print(ndf)
print()

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

In [64]:
new_index = ['r0','r1','r2','r3','r4']
ndf2 = df.reindex(new_index,fill_value=0) #null값 대신 0을 채움
print(ndf2)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0


# reset index

In [65]:
dict_data = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}


df = pd.DataFrame(dict_data, index=['r0','r1','r2'])
print(df)
print()

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [66]:
ndf = df.reset_index()
print(ndf)

  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

# sort index

In [67]:
dict_data = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}
df = pd.DataFrame(dict_data, index = ['r0','r1','r2'])
print(df)
print()

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [68]:
ndf = df.sort_index(ascending=False) #True는 오름차순
print(ndf)

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

# series to number

In [69]:
student1 = pd.Series({'kor':100,'en':80,'math':90})
print(student1)
print()

percentage = student1/200

print(percentage)
print()
print(type(percentage))

kor     100
en       80
math     90
dtype: int64

kor     0.50
en      0.40
math    0.45
dtype: float64

<class 'pandas.core.series.Series'>

In [70]:
import numpy as np

std1 = pd.Series({'kor':np.nan,'en':80,'math':90})
std2 = pd.Series({'math':80,'kor':90})

print(std1)
print()
print(std2)
print()


addition = std1 + std2
subtraction = std1 - std2
multiplication = std1*std2
division = std1/std2
print(type(division))
print()


result = pd.DataFrame([addition,subtraction,multiplication,division],
                      index=['add','sub','multi','div'])
print(result)

kor      NaN
en      80.0
math    90.0
dtype: float64

math    80
kor     90
dtype: int64

<class 'pandas.core.series.Series'>

       en  kor      math
add   NaN  NaN   170.000
sub   NaN  NaN    10.000
multi NaN  NaN  7200.000
div   NaN  NaN     1.125

In [71]:
std1 = pd.Series({'kor':np.nan,'en':80,'math':90})
std2 = pd.Series({'math':80,'kor':90})

print(std1)
print()
print(std2)
print()


sr_add = std1.add(std2,fill_value=0)
sr_sub = std1.sub(std2,fill_value=0)
sr_mul = std1.mul(std2,fill_value=0)
sr_div = std1.div(std2,fill_value=0)


result = pd.DataFrame([sr_add,sr_sub,sr_mul,sr_div],
                      index=['add','sub','mul','div'])
print(result)

kor      NaN
en      80.0
math    90.0
dtype: float64

math    80
kor     90
dtype: int64

       en   kor      math
add  80.0  90.0   170.000
sub  80.0 -90.0    10.000
mul   0.0   0.0  7200.000
div   inf   0.0     1.125

# df to number

In [72]:
!pip install seaborn

Collecting seaborn
  Using cached seaborn-0.12.2-py3-none-any.whl (293 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\hwang\miniconda3\envs\esports\lib\site-packages (from seaborn) (1.25.2)
Requirement already satisfied: pandas>=0.25 in c:\users\hwang\miniconda3\envs\esports\lib\site-packages (from seaborn) (2.0.3)
Collecting matplotlib!=3.6.1,>=3.1 (from seaborn)
  Obtaining dependency information for matplotlib!=3.6.1,>=3.1 from https://files.pythonhosted.org/packages/4d/9c/65830d4a56c47f5283eaa244dc1228c5da9c844a9f999ebcc2e69bf6cc65/matplotlib-3.7.2-cp311-cp311-win_amd64.whl.metadata
  Downloading matplotlib-3.7.2-cp311-cp311-win_amd64.whl.metadata (5.8 kB)
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.1->seaborn)
  Obtaining dependency information for contourpy>=1.0.1 from https://files.pythonhosted.org/packages/16/09/989b982322439faa4bafffcd669e6f942b38fee897c2664c987bcd091dec/contourpy-1.1.0-cp311-cp311-win_amd64.whl.metadata
  Downloading contourpy-1.1.0-cp311-cp311-win_amd64.whl.metadata (5.7 kB)
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.1->seaborn)
  Using cached cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0 (from matplotlib!=3.6.1,>=3.1->seaborn)
  Obtaining dependency information for fonttools>=4.22.0 from https://files.pythonhosted.org/packages/52/65/aaa3d2b7a292d93cc2cf1c534d03ba3f744e480f15b3b2ab6ad68189f7ee/fonttools-4.42.0-cp311-cp311-win_amd64.whl.metadata
  Downloading fonttools-4.42.0-cp311-cp311-win_amd64.whl.metadata (153 kB)
     ---------------------------------------- 0.0/153.7 kB ? eta -:--:--
     ---- -------------------------------- 20.5/153.7 kB 640.0 kB/s eta 0:00:01
     -------------------------------------- 153.7/153.7 kB 3.1 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1 (from matplotlib!=3.6.1,>=3.1->seaborn)
  Using cached kiwisolver-1.4.4-cp311-cp311-win_amd64.whl (55 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\hwang\miniconda3\envs\esports\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Collecting pillow>=6.2.0 (from matplotlib!=3.6.1,>=3.1->seaborn)
  Obtaining dependency information for pillow>=6.2.0 from https://files.pythonhosted.org/packages/66/d4/054e491f0880bf0119ee79cdc03264e01d5732e06c454da8c69b83a7c8f2/Pillow-10.0.0-cp311-cp311-win_amd64.whl.metadata
  Downloading Pillow-10.0.0-cp311-cp311-win_amd64.whl.metadata (9.6 kB)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\hwang\miniconda3\envs\esports\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hwang\miniconda3\envs\esports\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hwang\miniconda3\envs\esports\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hwang\miniconda3\envs\esports\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hwang\miniconda3\envs\esports\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Downloading matplotlib-3.7.2-cp311-cp311-win_amd64.whl (7.5 MB)
   ---------------------------------------- 0.0/7.5 MB ? eta -:--:--
   ------ --------------------------------- 1.2/7.5 MB 37.3 MB/s eta 0:00:01
   ----------------- ---------------------- 3.3/7.5 MB 42.3 MB/s eta 0:00:01
   ---------------------------- ----------- 5.4/7.5 MB 49.5 MB/s eta 0:00:01
   ---------------------------------------  7.5/7.5 MB 48.0 MB/s eta 0:00:01
   ---------------------------------------- 7.5/7.5 MB 40.1 MB/s eta 0:00:00
Downloading contourpy-1.1.0-cp311-cp311-win_amd64.whl (470 kB)
   ---------------------------------------- 0.0/470.9 kB ? eta -:--:--
   --------------------------------------- 470.9/470.9 kB 28.8 MB/s eta 0:00:00
Downloading fonttools-4.42.0-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ----------------------------------- ---- 1.9/2.1 MB 57.9 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 44.8 MB/s eta 0:00:00
Downloading Pillow-10.0.0-cp311-cp311-win_amd64.whl (2.5 MB)
   ---------------------------------------- 0.0/2.5 MB ? eta -:--:--
   ------------------------- -------------- 1.6/2.5 MB 51.2 MB/s eta 0:00:01
   ---------------------------------------- 2.5/2.5 MB 40.4 MB/s eta 0:00:00
Installing collected packages: pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.1.0 cycler-0.11.0 fonttools-4.42.0 kiwisolver-1.4.4 matplotlib-3.7.2 pillow-10.0.0 seaborn-0.12.2

In [73]:

import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[:,['age','fare']]
print(df.head())
print()
print(type(df))
print()


addition = df + 10
print(addition.head())
print()
print(type(addition))

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

<class 'pandas.core.frame.DataFrame'>

    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500

<class 'pandas.core.frame.DataFrame'>

# df to df

In [74]:
import seaborn as sns


titanic = sns.load_dataset('titanic')
df = titanic.loc[:,['age','fare']]
print(df.tail())
print()
print(type(df))
print()


addition = df + 10
print(addition.tail())
print()
print(type(addition))
print()


subtraction = addition - df
print(subtraction.tail())
print()
print(type(subtraction))

      age   fare
886  27.0  13.00
887  19.0  30.00
888   NaN  23.45
889  26.0  30.00
890  32.0   7.75

<class 'pandas.core.frame.DataFrame'>

      age   fare
886  37.0  23.00
887  29.0  40.00
888   NaN  33.45
889  36.0  40.00
890  42.0  17.75

<class 'pandas.core.frame.DataFrame'>

      age  fare
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0

<class 'pandas.core.frame.DataFrame'>